:root {
  --header-color-white: #ffffff;
  --header-color-black: #212121;
  --text-color-grey: #757575;
  --btn-color-blue: #2196f3;
  --btn-color-hover: #188ce8;
  --fon-background-grey: #2f303a;
  --fon-background-white: #e5e5e5;
  --bacground-team: #f5f4fa;
  --border-radius: #afb1b8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --socials-icon: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-grey);
}

/* different*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color-black);
}
.header__logo {
  margin-right: 93px;
  color: var(--header-color-black);
}
.logo__color {
  color: var(--btn-color-blue);
}

.navigation__list {
  display: flex;
}
.navigation__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-grey);
}
.navigation__list .navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__list-contacts {
  display: flex;
  margin-left: auto;
}
.navigation__list-contacts .navigation__item-contacts:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color-black);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__color-studio {
  color: var(--btn-color-blue);
}
.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: var(--btn-color-blue);
}

.navigation__link.navigation__current:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--btn-color-blue);
  transition-property: opacity;
  transition-duration: 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link-tel:hover,
.navigation__link-tel:focus,
.navigation__link-tel:active {
  color: var(--btn-color-blue);
}
.navigation__svg-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* .index.html */
/* hero */

.hero {
  max-width: 1600px;
  text-align: center;
  background-color: var(--fon-background-grey);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/background-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.hero-title {
  display: block;
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color-white);
}

.btn {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--header-color-white);
  background-color: var(--btn-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--btn-color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* benefits */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-div--size {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bacground-team);
  border-radius: 4px;
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color-black);
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
/* work */
.work {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-color-black);
}
.work__list {
  display: flex;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.div--positions {
  position: relative;
}

.work__applications {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--fon-background-grey);
  color: var(--header-color-white);
  opacity: 0.8;
}
/* team */
.section__background {
  background: var(--bacground-team);
}
.team {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-color-black);
}
.team__list {
  display: flex;
}
.team__item {
  background: var(--header-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}
.team-div--size {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color-black);
}
.team-list:not(:last-child) {
  margin-right: 30px;
}

.team__text {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
.team__list-socials {
  display: flex;
  justify-content: center;
}
.list-socials--margin {
  margin-top: 16px;
}

.icon__item {
  width: 44px;
  height: 44px;
}

.icon__item:not(:last-child) {
  margin-right: 10px;
}
.icon__item + .icon__item {
  margin-left: 10px;
}
.icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.icon__link--light {
  background-color: var(--header-color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__svg {
  fill: var(--socials-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__link:hover,
.icon__link:focus {
  background-color: var(--btn-color-blue);
  fill: var(--header-color-white);
}
.icon__link:hover .icon__svg,
.icon__link:focus .icon__svg {
  fill: var(--header-color-white);
}

/* clients */
.clients {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color-black);
}
.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__item {
  width: 170px;
  height: 92px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: var(--header-color-white);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid #2196f3;
}
.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: var(--btn-color-blue);
}
.clients__svg {
  fill: var(--socials-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio */
/* filter */

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--bacground-team);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover,
.filter__btn:focus,
.filter__btn:active {
  color: var(--header-color-white);
  background-color: var(--btn-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.color__portfolio {
  color: var(--btn-color-blue);
}

.filter__list .filter__btn:not(:last-child) {
  margin-left: 8px;
}
/* content */
.content__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.content__item {
  width: calc((100% - 90px) / 3);
  margin: 15px;
}
.img {
  display: block;
  max-width: 100%;
  max-height: auto;
}
.content__link {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--header-color-white);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.content__link:hover,
.content__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
}
.owerlay {
  position: relative;
  overflow: hidden;
}

.div--owerlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--btn-color-blue);
  opacity: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.content__link:hover .div--owerlay,
.content__link:focus .div--owerlay {
  opacity: 0.9;
  transform: translateY(0%);
}
.content__text--owerlay {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--header-color-white);
}
.div--content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.content__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color-black);
}

.content__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}

/* footer */

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--fon-background-grey);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.width-adress {
  min-width: 231px;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--header-color-white);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link-location {
  color: var(--header-color-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link {
  color: var(--footer-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover,
.address__link-location:hover,
.address__link:focus,
.address__link-location:focus,
.address__link:active,
.address__link-location:active {
  color: var(--btn-color-blue);
}

.join-size {
  min-width: 206px;
  margin-left: 70px;
  margin-right: 93px;
}
.join {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--header-color-white);
}
.icon-list {
  display: flex;
  justify-content: center;
}
.weight__icon {
  fill: var(--header-color-white);
}
.link--dark {
  background-color: var(--footer-link-color);
}

/* .form-footer  */

.subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color-white);
}
.form-footer {
  display: flex;
  min-width: 570px;
}
.input-footer {
  min-width: 358px;
  background-color: var(--fon-background-grey);
}

.input-footer {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
.input-footer::placeholder {
  padding: 15px 262px 15px 10px;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25px;
  letter-spacing: 0.03em;
  color: var(--header-color-white);
  opacity: 60%;
}
.input-footer:not(:placeholder-shown) {
  color: var(--header-color-white);
  padding-left: 10px;
}
.submit-footer {
  display: flex;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 34px;
  min-width: 200px;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--header-color-white);
  background: var(--btn-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-footer:hover,
.submit-footer:focus {
  background-color: var(--btn-color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-icon-send {
  fill: var(--header-color-white);
  align-items: center;
  margin-left: 10px;
}
*/

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(78, 71, 71, 0.5);
  opacity: 1;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-mod {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: transparent;
}
.btn-mod:hover,
.btn-mod:focus {
  fill: #2196f3;
}
/* .form */
.modal-form {
  width: 528px;
  height: 581px;
  padding: 40px 40px 40px 40px;
}

.modal-feedback {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-color-black);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 30px;
  fill: var(--header-color-black);
}

.form-field input {
  min-height: 40px;
  padding-left: 42px;
  color: var(--text-color-grey);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-field input:focus + .icon-form {
  cursor: pointer;
  fill: var(--btn-color-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  outline: 1px solid #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  outline: nones;
}

.form-textarea textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color-grey);
  opacity: 50%;
}

.textarea-modal {
  width: 448px;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}
.textarea-modal:not(:placeholder-shown) {
  opacity: 50%;
  outline: 1px solid #2196f3;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-lable {
  display: flex;
  align-items: center;
  min-width: 423px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}

.checkbox-lable > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-svg {
  fill: transparent;
}
.check-agree:checked + .checkbox-lable > span {
  background-color: var(--btn-color-blue);
  border: none;
}
.check-agree:checked + .checkbox-lable svg {
  fill: #ffffff;
}
.checkbox-condition {
  color: var(--btn-color-blue);
  text-decoration: underline;
  padding-left: 5px;
}
.submit {
  display: block;
  margin: auto;
  padding: 10px 55px;
  min-width: 200px;
  text-align: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  color: var(--header-color-white);
  background: var(--btn-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background-color: var(--btn-color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
