.hero {
  max-width: 1600px;
  background-color: var(--fon-background-grey);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/hero-bg-img/480/hero-bg-img-480@x1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hero-title {
  display: block;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color-white);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url(../images/hero-bg-img/480/hero-bg-img-480@x2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

@media (min-width: 480px) {
  .hero {
    padding: 118px 0;
  }
}

@media (min-width: 480px) and (max-width: 1199px) {
  .hero-title {
    width: 360px;
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url(../images/hero-bg-img/768/hero-bg-img-768@x1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.25),
          rgba(0, 0, 0, 0.25)
        ),
        url(../images/hero-bg-img/768/hero-bg-img-768@x2.jpg);
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url(../images/hero-bg-img/1200/hero-bg-img-1200@x1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.25),
          rgba(0, 0, 0, 0.25)
        ),
        url(../images/hero-bg-img/1200/hero-bg-img-1200@x2.jpg);
    }
  }

  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
