.team {
  margin: auto;
}

.section__background {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-color-black);
}

.team__item {
  background: var(--header-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item .team-div {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color-black);
}
.team:not(:first-child) {
  margin-top: 30px;
}

.team__text {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
@media (min-width: 768px) {
  .team {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team {
    flex-wrap: wrap;
    margin: -15px;
  }
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.17;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}
