.join {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--header-color-white);
}
.join-size {
  max-width: 206px;
}

.socials-networks-weight-icon {
  fill: var(--header-color-white);
}

@media (min-width: 480px) {
  .join-size {
    width: 206px;
  }
}

@media (max-width: 767px) {
  .join {
    margin-top: 60px;
  }
  .join-size {
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .join {
    padding-top: 5px;
  }
}
@media (min-width: 1200px) {
  .join-size {
    margin-left: 70px;
    margin-right: 93px;
  }
}
