.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-color-black);
}
.header__logo {
  color: var(--header-color-black);
}
.logo__color {
  color: var(--btn-color-blue);
}

.footer__logo {
  color: var(--header-color-white);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
  }
  .header__logo {
    margin-right: 93px;
  }

  .footer__logo {
    display: inline-block;
    color: var(--header-color-white);
  }
}
