.owerlay {
  position: relative;
  overflow: hidden;
}

.owerlay__div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--btn-color-blue);
  opacity: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.owerlay__div .owerlay__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--header-color-white);
}
